<header id="app_header_nav" class="header-6" [ngClass]="{'no_bg': homeActive === true}">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <!--<img *ngIf="devMode === true" src="../../favicon.ico">-->
      <!--<img *ngIf="devMode === false" src="favicon.ico">-->
      <span style="margin-left: 13px;" class="title">Graph Analyzer</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/" class="nav-link nav-text" [ngClass]="{'active': homeActive === true}">Home</a>
    <a routerLink="new" class="nav-link nav-text" [ngClass]="{'active': editorActive === true}">Graph Editor</a>
    <a routerLink="demo" class="nav-link nav-text" [ngClass]="{'active': demoActive === true}">Demo</a>
    <a routerLink="help" class="nav-link nav-text" [ngClass]="{'active': helpActive === true}">Help</a>
  </div>
  <div class="header-actions"></div>
</header>
