<div id="bg">
  <img src="../../assets/homepage-background-dark-blurred.png" alt="">
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <div class="vertical-center">
      <div>
        <h1 class="homepage_text_h1">Analyze Your graph data - the easy way!</h1>
        <h3 class="homepage_text_h3">Just upload the data & you're good to go!</h3>
        <div class="homepage_buttons">
          <button routerLink="/new" class="btn btn-primary">Get started</button>
          <button routerLink="/demo" class="btn btn-inverse">See a demo</button>
          <button routerLink="/help" class="btn btn-inverse">I need more information</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4"></div>
</div>


