#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#cta {
  position: fixed;
  top: -50%;
  left: -50%;
  z-index: 9999;
}

.vertical-center {
  min-height: 70%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.homepage_text_h1 {
  color: #fff;
  line-height: 3rem;
  font-size: 3rem;
}

.homepage_text_h3 {
  color: #fff;
  line-height: 1.5rem;
  font-size: 1.3333rem;
}

.homepage_buttons {
  margin-top: 20px;
  text-align: center;
}
