<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'" (clrModalOpenChange)="openChange($event)">
  <h3 class="modal-title">Full centrality comparison</h3>
  <div class="modal-body">
    <div>
      <clr-datagrid>
        <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
        <clr-dg-column [clrDgField]="'Eigenvector'">Eigenvector</clr-dg-column>
        <clr-dg-column [clrDgField]="'Betweenness'">Betweenness</clr-dg-column>
        <clr-dg-column [clrDgField]="'Closeness'">Closeness</clr-dg-column>
        <clr-dg-column [clrDgField]="'Degree'">Degree</clr-dg-column>

        <clr-dg-row *clrDgItems="let entry of data">
          <clr-dg-cell>{{entry.id}}</clr-dg-cell>
          <clr-dg-cell>{{entry.Eigenvector}}</clr-dg-cell>
          <clr-dg-cell>{{entry.Betweenness}}</clr-dg-cell>
          <clr-dg-cell>{{entry.Closeness}}</clr-dg-cell>
          <clr-dg-cell>{{entry.Degree}}</clr-dg-cell>
        </clr-dg-row>

      </clr-datagrid>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close.emit()">Close</button>
  </div>
</clr-modal>
