<clr-wizard *ngIf="demoMode === false" #wizard [(clrWizardOpen)]="wizardOpen" clrWizardSize="lg" (clrWizardOnCancel)="wizardCancel()" [clrWizardPreventDefaultCancel]="true">
  <clr-wizard-title>Steps to generate graph</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page (clrWizardPageCustomButton)="page1Handler($event)">
    <ng-template clrPageButtons>
      <clr-wizard-button [type]="'custom-danger'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'custom-next'">Next</clr-wizard-button>
    </ng-template>
    <ng-template clrPageTitle>Upload data</ng-template>
    <form *ngIf="uploaderVisible">
      <section class="form-block">
        <div class="form-group">
          <label for="upload">
            Upload data
            <clr-signpost>
              <clr-signpost-content [clrPosition]="'bottom-middle'" *clrIfOpen>
                <p style="margin-top: 0">
                  The uploader only accepts CSV, TSV & JSON files.<br>
                  CSV & TSV files must have a header row,<br>
                  A JSON file must be an object<br>that contains an array of objects.
                </p>
              </clr-signpost-content>
            </clr-signpost>
          </label>
          <input type="file" id="upload" (change)="fileChanged($event)"/>
        </div>
        <div class="form-group">
          <button [disabled]="!file" (click)="uploadFile()" class="btn btn-outline btn-sm">Upload</button>
        </div>
      </section>
      <section>

        <div *ngIf="fileSuccess">
          <clr-alert [clrAlertType]="'alert-success'">
            <div class="alert-item">
              <span class="alert-text">
                  File upload successful!
              </span>
            </div>
          </clr-alert>
        </div>
        <div *ngIf="fileError">
          <clr-alert [clrAlertType]="'alert-danger'">
            <div class="alert-item">
              <span class="alert-text">
                  Error reading file!
              </span>
            </div>
          </clr-alert>
        </div>
        <div *ngIf="error">
          <clr-alert [clrAlertType]="'alert-danger'">
            <div class="alert-item">
              <span class="alert-text">
                  {{error}}
              </span>
            </div>
          </clr-alert>
        </div>
      </section>

    </form>
  </clr-wizard-page>

  <clr-wizard-page (clrWizardPageCustomButton)="page2Handler($event)">
    <ng-template clrPageButtons>
      <clr-wizard-button [type]="'custom-previous'">Previous</clr-wizard-button>
      <clr-wizard-button [type]="'custom-finish'">Finish</clr-wizard-button>
    </ng-template>
    <ng-template clrPageTitle>Initial setup</ng-template>
    <form *ngIf="dataColumns">
      <section class="form-block">
        <div class="form-group">
          <label for="root-select">Root nodes column:</label>
          <div class="select">
            <select id="root-select" [(ngModel)]="rootNodeValue" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let c1 of dataColumns">{{c1}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="dest-select">Destination nodes column:</label>
          <div class="select">
            <select id="dest-select" [(ngModel)]="destNodeValue" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let c2 of dataColumns">{{c2}}</option>
            </select>
          </div>
        </div>
        <div class="checkbox">
          <input type="checkbox" [(ngModel)]="showArrows" [ngModelOptions]="{standalone: true}" id="dirCheck">
          <label for="dirCheck">Directed graph</label>
        </div>
      </section>
    </form>
  </clr-wizard-page>

</clr-wizard>

<clr-alert *ngIf="graphGenerationError === true" [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
  <clr-alert-item>
        <span class="alert-text">
            Could not generate graph! Please try a different file.
        </span>
  </clr-alert-item>
</clr-alert>

<div class="row" id="editor" *ngIf="options">
  <div class="col-xs-8" id="graph-container">
    <app-graph [options]="options" (tableData)="receivedTableData($event)" (sendFullTableData)="receivedFullTableData($event)" (sendError)="receivedGraphError($event)"></app-graph>
    <button *ngIf="demoMode === false" class="btn btn-success reset_btn" (click)="reset()">New Graph</button>
  </div>
  <div id="toolbar" class="col-xs-4 editor-toolbar">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>Centrality</button>
        <ng-template [(clrIfActive)]="centralityActive">
          <clr-tab-content>
            <div class="btn-group btn-primary mt-20">
              <button class="btn"
                      [disabled]="mode === modes.Degree"
                      (click)="changeVizMode(modes.Degree)">
                Degree
              </button>
              <button class="btn"
                      [disabled]="mode === modes.Closeness"
                      (click)="changeVizMode(modes.Closeness)">
                Closeness
              </button>
              <button class="btn"
                      [disabled]="mode === modes.Betweenness"
                      (click)="changeVizMode(modes.Betweenness)">
                Betweenness
              </button>
              <button class="btn"
                      [disabled]="mode === modes.Eigenvector"
                      (click)="changeVizMode(modes.Eigenvector)">
                Eigenvector
              </button>
              <clr-signpost>
                <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                  <p style="margin-top: 0">
                    These are the graph centrality measures available.
                    You can toggle each one on or off<br>by clicking on the corresponding buttons.
                  </p>
                  <p><a [routerLink]="['/help']" fragment="centrality">Read more about centrality measures</a></p>
                </clr-signpost-content>
              </clr-signpost>
            </div>
            <div *ngIf="tableData">
              <div>
                <app-centrality-table (close)="showCentralityTable = false" [open]="showCentralityTable" [data]="centralityTableData"></app-centrality-table>
                <button class="btn"
                        [disabled]="!centralityTableData"
                        (click)="showCentralityTable = true">
                  Show full table
                </button>
              </div>
              <table class="table data-table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th *ngIf="mode === modes.Eigenvector">Eigenvector</th>
                  <th *ngIf="mode === modes.Betweenness">Betweenness</th>
                  <th *ngIf="mode === modes.Closeness">Closeness</th>
                  <th *ngIf="mode === modes.Degree">Degree</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of tableData">
                  <td>{{row.id}}</td>
                  <td>{{row.value}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>Customise</button>
        <ng-template [(clrIfActive)]="customiserActive">
          <clr-tab-content>
            <app-customiser [inputStyleObj]="graphStyle" [graphOptions]="options" (sendStyleObject)="receivedStyleObject($event)"></app-customiser>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
</div>



