<div class="row">
  <div class="col-xs"></div>
  <div class="col-xs-6">
    <form>
      <section class="form-block">
        <label>Generate Chart</label>
        <div class="form-group">
          <label for="provider_select">Choose data provider</label>
          <div class="select">
            <select id="provider_select" #providerSelect (change)="changeDataProvider(providerSelect.value)">
              <option value="manual" selected>Paste data manually</option>
              <option value="file">Upload file</option>'
            </select>
          </div>
        </div>
        <div class="form-group" *ngIf="dataProvider === 'manual'">
          <label for="manualdata">Enter data</label>
          <textarea name="manuel" id="manualdata" [(ngModel)]="dataValue" rows="5"></textarea>
        </div>
        <div class="form-group" *ngIf="dataProvider === 'file'">
          <label for="upload">Upload data</label>
          <input type="file" id="upload" (change)="fileChanged($event)"/>
          <button [disabled]="!file" (click)="uploadFile()" class="btn btn-primary btn-sm">Upload</button>
        </div>
        <div class="form-group">
          <label for="height">Height</label>
          <input type="number" name="height" [(ngModel)]="heightValue" id="height" placeholder="Enter height" size="12">
        </div>
        <div class="form-group">
          <label for="width">Width</label>
          <input type="number" name="width" [(ngModel)]="widthValue" id="width" placeholder="Enter width" size="12">
        </div>
        <button type="submit" (click)="saveData()" class="btn btn-primary">Draw</button>
      </section>
      <section>
        <div *ngIf="error">
          <p>{{error}}</p>
        </div>
      </section>
    </form>
  </div>
  <div class="col-xs"></div>
</div>

<div class="row" *ngIf="!error && options">
  <div class="col-xs"></div>
  <div class="col-xs-6">
    <app-line-chart [options]="options"></app-line-chart>
  </div>
  <div class="col-xs"></div>
</div>

<div class="row">
  <div class="col-xs"></div>
  <div class="col-xs-6">
    <app-graph></app-graph>
  </div>
  <div class="col-xs"></div>
</div>

<!--<div>

  <mat-toolbar color="primary">
    <span class="title">Editor</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <textarea [(ngModel)]="dataValue" matInput placeholder="Enter your data" matTextareaAutosize matAutosizeMinRows="10"></textarea>
      </mat-form-field>

      <form class="example-form">

        <mat-form-field class="example-full-width">
          <input name="height" matInput [(ngModel)]="heightValue" placeholder="Height" value="400">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input name="width" matInput [(ngModel)]="widthValue" placeholder="Width" value="600">
        </mat-form-field>

      </form>
      <button class="form_btn" mat-raised-button color="primary" (click)="saveData()">Draw</button>

    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="error">
    <mat-card-content>
      <p>{{error}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!error && options">
    <mat-card-content>
      <app-line-chart [options]="options"></app-line-chart>
    </mat-card-content>
  </mat-card>

</div>-->



