body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

html {
  overflow-x: hidden;
}

.edge line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

