/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.edge line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

